<html>
  <head>
    <title>八仙爆炸事件傷者查詢</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" rel="stylesheet">

    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="bower_components/leaflet-plugins/layer/tile/Google.js"></script>
    <script src="public/js/search_app.js"></script>

    <style>
      body {
        padding-top: 30px;
      }
      .map-view {
        height: 300px;
        overflow: hidden;
      }
      .leaflet-container {
        height: 100%;
      }
    </style>
  </head>
  <body ng-app="searchApp">
    <div class="container" ng-controller="mainCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">八仙爆炸事件傷者查詢 (最後更新：{{lastmodify}})</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8 col-xs-12">
              <input type="text" class="form-control" placeholder="請輸入姓名" ng-model="keywords">
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <hr>
          <div class="text-center" ng-if="(members | filter:namePipe()).length == 0">無結果</div>
          <div class="table-responsive" ng-if="(members | filter:namePipe()).length > 0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>編號</th>
                  <th>姓名</th>
                  <th>性別</th>
                  <th>國籍</th>
                  <th>年齡</th>
                  <th>縣市別</th>
                  <th>收治單位</th>
                  <th>檢傷編號</th>
                  <th>醫療檢傷</th>
                  <th>救護檢傷</th>
                  <th>即時動向</th>
                  <th>轉診要求</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="member in members | filter:namePipe()">
                  <td>{{member['編號']}}</td>
                  <td><b>{{member['姓名']}}</b></td>
                  <td>{{member['性別']}}</td>
                  <td>{{member['國籍']}}</td>
                  <td>{{member['年齡']}}</td>
                  <td>{{member['縣市別']}}</td>
                  <td><a href="#" ng-click="openHospitalModal($event, hospitals[member['收治單位']])">{{member['收治單位']}} <i class="fa fa-search"></i></a></td>
                  <td>{{member['檢傷編號']}}</td>
                  <td>{{member['醫療檢傷']}}</td>
                  <td>{{member['救護檢傷']}}</td>
                  <td>
                    <span class="label" ng-class="statusClass(member['即時動向'])">{{member['即時動向']}}</span>
                  </td>
                  <td>{{member['轉診要求']}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="hospitalModalContent.html">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" ng-if="hospital">{{hospital['醫院名稱']}}</h3>
        <h3 class="modal-title" ng-if="!hospital">尚無醫院資訊</h3>
      </div>
      <div class="modal-body">
        <div ng-if="hospital">
          <dl>
            <dt>聯絡電話</dt>
            <dd>{{hospital['聯絡電話']}}</dd>
          </dl>
          <dl>
            <dt>地址</dt>
            <dd>{{hospital['地址']}}</dd>
          </dl>
          <div class="map-view">
            <leaflet center="center" layers="layers" markers="markers"></leaflet>
          </div>
        </div>
      </div>
    </script>

    <a href="https://github.com/LeeChSien/DustExplosions"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  </body>
</html>
